
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.title {
  position:absolute;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2em;
  left: 10%;
  transform: translate(-50, -50%);
  margin: 0;
  padding: 0;
  top: 28%;
  font-family: sans-serif;
  text-transform: uppercase;
  transition: 0.5s;
}

#particles-js {
height: 100%;
background: #f00;
width: 100%;
}

.wrapper1 {
  opacity:100;
  padding:1em;
  position:absolute;
  top:0px;
  left:1px;
  margin: 0 auto;
  width: 80%;
}

.wrapper2 {
  opacity:8;

  float: left;
  position:absolute;
  opacity: 0.9;
  top:10%;
  left:0%;
  width: 45%;

}

.wrapper3 {
  padding:2.5em;
  top: 10%;
  right: 2%;
  width: 50%;
  height: 50%;
  max-height: 100%;
  float:right;

}

.imageWrapper {
  height: 70%;
  width: 100%;
  text-align:center;
  max-height: 80%;
}

.wrapper4 {
  max-width:100%;
  max-height:80%
  display:inline-block;
  padding:2em;
  background-color: white;
  border:#ccc 2px solid;
  position:absolute;
  opacity: 0.8;
  top:55%;
  left:45%;
  margin: 0 auto;
  width: 45%;
  float: right;
  height: 25%;
  border-radius: 54px;
  -webkit-border-radius: 54px;
  -moz-border-radius: 54px;
}

.ethLogo {

  shadow:10px;
  max-width:100%;
  max-height:100%;

  text-align:center;
  -webkit-filter: drop-shadow(0 0 50px white);
}

.inputBet {
    input[type=text]:focus
    background-color: #8842d5;
    font-size: 1.2em;
    float: left;
    top:10%;
}

.result {
  top: 0%;
  font-size: 1.7em;
  color:#ccc;
  text-shadow: 2px 2px 4px #000000;
  text-align:center;
}

.balance {
  top:0px;
  right:30%;
  font-size: 1.5em;
   text-shadow: 2px 2px 4px #000000;
}

.navbar{
  background-color:red;
  overflow:hidden;
  height:63px;
  opacity:100;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:30px;
  opacity:100;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
  color: white;
}

.side-nav a{
  text-decoration:none;
  font-size:18px;
  color:#ccc;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

.radioText{
  left:10px;
  font-size:20px;
}

.inputAddress {
  color: black;
  font-size:20px;
}

.addressText {
  left:4px;
  color: white;
  font-size:18px;
}

.menuText {
  font-size:19px;
  left:10px;
}

.menuTwo {
  padding:1em;
  position:absolute;
  top:60px;
  left:1px;
  margin: 0 auto;
}

.portfolioLink {
  position:absolute
  bottom: 0px;
}

.wrapper2 {
  display: grid;
  grid=template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}

div.container {

  margin: auto;

  display: flex;

  flex-direction: column;

  align-items: center;

  max-height: 100%;

}


#coin {

  position: relative;

  width: 28rem;

  height: 28rem;

  margin: 0rem 0rem;

  transform-style: preserve-3d;

}

#coin div {

  width: 100%;

  height: 100%;

  /*border: 2px solid black;*/

  border-radius: 0%;

  backface-visibility: hidden;

  background-size: contain;

  position: absolute;

}

.heads {
    /*background-image: url("https://en.numista.com/catalogue/photos/inde/2311-original.jpg");*/
    background-image: url("https://raw.githubusercontent.com/DarrenGoulder/Ethereum-Dice-Rolling-Game/master/images/Coin1.png?_sm_au_=iVVW127rnnkSQN5HW3BLHK30LkJj0");
}

.animate-heads {
  animation: flipHeads 3s;
  animation-fill-mode: forwards;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1800deg);
  }
}

.tails {
    /*background-image: url("https://en.numista.com/catalogue/photos/inde/3165-original.jpg");
  transform: rotateY(-180deg);*/
  background-image: url("https://raw.githubusercontent.com/DarrenGoulder/Ethereum-Dice-Rolling-Game/master/images/Coin2.png?_sm_au_=iVVW127rnnkSQN5HW3BLHK30LkJj0");
transform: rotateY(-180deg);
}

.animate-tails {
  animation: flipTails 3s;
  animation-fill-mode: forwards;
}

@keyframes flipTails {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1620deg);
  }
}

/* Button Heads
/* Container needed to position the button. Adjust the width as needed */
.buttonContainerHeads {
  float:left;
  width: 50%;
  opacity: 0.8;
}

/* Make the image responsive */
.buttonContainerHeads img {
  width: 90%;
  height: auto;

}

.buttonContainerTails {

    float:right;
    width: 50%;
    opacity: 0.8;
}


.buttonContainerTails img {
  width: 90%;
  height: auto;
}

.buttonWrapper {

  float:right;
  width: 50%;
  height: 70%;
}

.particle-js{
  width:100%;
}

.buttonContainerHeads:hover{
  opacity: 1;
}

.buttonContainerTails:hover{
  opacity: 1;
}

.buttonContainerHeads{
border-radius: 70px;
-webkit-border-radius: 70px;
-moz-border-radius: 70px;
}

.buttonContainerTails{
border-radius: 70px;
-webkit-border-radius: 70px;
-moz-border-radius: 70px;
}

.headsTailsText {
  top:0px;
  right:30%;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.flashMe {
  top: 0%;
  font-size: 2em;
  color:#ccc;
  text-shadow: 2px 2px 4px #000000;
  text-align:center;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.resultText {
  padding-left: 5%;

}
